<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Expectation1</servlet-name>
        <servlet-class>javap.Expectation1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exception</servlet-name>
        <servlet-class>javap.Exception</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentrecord</servlet-name>
        <servlet-class>javap.studentrecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInfo</servlet-name>
        <servlet-class>javap.StudentInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Placement</servlet-name>
        <servlet-class>javap.Placement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Personal</servlet-name>
        <servlet-class>javap.Personal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Family</servlet-name>
        <servlet-class>javap.Family</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Extra_detail1</servlet-name>
        <servlet-class>javap.Extra_detail1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pervious_Q</servlet-name>
        <servlet-class>javap.Pervious_Q</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Placement2</servlet-name>
        <servlet-class>javap.Placement2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Academic</servlet-name>
        <servlet-class>javap.Academic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Displinary</servlet-name>
        <servlet-class>javap.Displinary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>javap.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>javap.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTable11</servlet-name>
        <servlet-class>javap.TimeTable11</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exception</servlet-name>
        <url-pattern>/Exception</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentrecord</servlet-name>
        <url-pattern>/studentrecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Expectation1</servlet-name>
        <url-pattern>/Expectation1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInfo</servlet-name>
        <url-pattern>/StudentInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Placement</servlet-name>
        <url-pattern>/Placement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Personal</servlet-name>
        <url-pattern>/Personal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Family</servlet-name>
        <url-pattern>/Family</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Extra_detail1</servlet-name>
        <url-pattern>/Extra_detail1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pervious_Q</servlet-name>
        <url-pattern>/Pervious_Q</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Placement2</servlet-name>
        <url-pattern>/Placement2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Academic</servlet-name>
        <url-pattern>/Academic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Displinary</servlet-name>
        <url-pattern>/Displinary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTable11</servlet-name>
        <url-pattern>/TimeTable11</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
